@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./landing.css";
@import "./common.css";
@import "./responsive.css";
@import "./blog.css";
@import "./animation.css";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* @font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("/fonts/Montserrat/Gotham-Book.otf") format("opentype") tech(color-COLRv1), url("/fonts/Gotham/Gotham-Book.otf")
      format("opentype"), url("/fonts/Gotham/Gotham-Book.otf") format("woff");
} */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}
p, span, label {
  font-size: .8rem;
  font-family: 'Montserrat';
}
h2 {
  font-size: 1.5rem;
font-family: 'Montserrat';

}

h3{
  font-size: 1.2rem !important;
font-family: 'Montserrat';

}
h4{
  font-size: 1rem;
font-family: 'Montserrat';

}
a {
  color: inherit;
  text-decoration: none;
font-family: 'Montserrat';

}

* {
  box-sizing: border-box;
}
table {
  width: 100%;
  max-width: 800px; /* Adjust the maximum width as per your requirement */
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.85rem;
  border-radius: 20%;
  font-family: 'Montserrat';
  overflow-x: auto;
}

table th,
table td {
  border: 1px solid #000;
  font-family: 'Montserrat';
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

table thead th {
  background-color: #185b2d;
  color: #fff;
  font-family: 'Montserrat';
}

table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
  font-family: 'Montserrat';
}

table tbody tr:hover {
  background-color: #e0f0e9;
  font-family: 'Montserrat';
}



/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white; */
    /* background: black; */
  /* } */
/* } */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #185b2d;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.shimmer-container {
  display: flex;
  justify-content: center;
}

.shimmer-card {
  width: 200px;
  height: 300px;
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.shimmer-card:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-position: -50% 0;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -50% 0;
  }
  100% {
    background-position: 150% 0;
  }
}
