@media only screen and (max-width: 768px) {
    .bgImage {
        background-repeat: no-repeat;
        background-size: contain;
        height: 60vw;
    }
    .admission .card ul {
       padding-left: 0;
      
      }
      .center-text{
        left:12%;
      }
      .container{
        margin: 0;
      }
      .header-images{
        height: 200px;
      }
      .normal-logo{
        height: 67px !important;
      }
      .normal-logo img {
  height: 67px ;
  width: 67px;
}
.news-section .card{
  width: 287px;
  height: 90vw;
  
}
.videos-section .card{
  width: 347px;
  
}
.event-slider2, .our-mission, .prayer,.event-slider{
  margin-bottom: 1rem;
  padding: 1rem;
}
.our-mission .card, .prayer .card,.event-slider2 .card,.event-slider .card,.team .card{
  height: auto;
  z-index: 1;
}
.cardwidth .card{
  height: auto;
}
.navShrink{
  z-index: 9999;
}
.nav {
  z-index: 9;
}
.card__header img{
  height: auto;
}
.bg-card .card{
  height: 30vh;
  z-index: 1;
}
.ciriculam{
  padding: 1rem;
}
.admission .card{
  height: auto;
  margin-bottom: 1rem;
}
.Fees-section{
  padding: 1rem;
  overflow-x: scroll;
}
.Fees-section .card{
  /* overflow-x: scroll; */
  z-index: 1;
}
.Fees-section .card:hover{
  border: none;
}
.Fees-section p{
  font-size: 1rem
}
table, th, td, tr{
  color: #000 !important;
}
.coaching,.remedial-coaching,.our-course,.value-education,.special-coaching,.highlight-content {
  padding: 1rem;
}
.value-education .card{
  margin-bottom: 1rem;
}
table {
  overflow-x: scroll;
}
.section-div .card{
  width: 350px;
  height: auto;
}
  }